<h2>Login</h2>
<form method="post">
    {% csrf_token %}

    {% for f in form %}
    {{ f }}
    {% endfor %}
    {{ f.errors }}
    <button type="submit">Login</button>

</form>

<!-- <div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Sample Form</h3>
            </div>
            <div class="card-block">
                <form>
                    <fieldset>
                        <label for="nameField">Name</label>
                        <input type="text" placeholder="..." id="nameField" , name="username">

                        <label for="nameField">Password</label>
                        <input type="password" id="nameField" name="password">

                        <input class="button-primary" type="submit" value="Send">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> -->
