{% extends 'user_dashboard/base.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock title %}
{% block content %}



<!-- This is the main content area -->
<div class="row">

    <section id="main-content" class="column column-offset-20">
        <div class="row grid-responsive">
            <div class="column column">
                {% if messages %}
                {% for message in messages %}
                <div class="alert background-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row grid-responsive">
            <div class="column page-heading">
                <div class="large-card">
                    <h1>Welcome to the Dashboard!</h1>
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <h5></h5><a class="anchor" id="bar_chart_yearly" name="charts"></a>
        <div class="row grid-responsive">
            <div class="column column-100">
                <div class="card">
                    <div class="card-title">
                        <h2>Expenditure by month</h2>
                    </div>
                    <div class="card-block">
                        {{ bar_chart_yearly | safe }}
                    </div>
                </div>
            </div>
        </div>
        <h5></h5><a class="anchor" id="pie_plot_dropdown" name="charts"></a>
        <div class="row grid-responsive">
            <div class="column column-100">
                <div class="card">
                    <div class="card-title">
                        <h2>Expenditure Breakdown</h2>
                    </div>
                    <div class="card-block">
                        {{ pie_plot_dropdown | safe }}
                    </div>
                </div>
            </div>
        </div>
        <h5></h5><a class="anchor" id="time_series" name="time_series"></a>
        <div class="row grid-responsive">
            <div class="column column-100">
                <div class="card">
                    <div class="card-title">
                        <h2>Expenditure Timeseries</h2>
                    </div>
                    <div class="card-block">
                        {{ time_series | safe }}
                    </div>
                </div>
            </div>
        </div>
        <h5></h5><a class="anchor" id="time_series" name="time_series"></a>
        <div class="row grid-responsive">
            <div class="column column-100">
                <div class="card">
                    <div class="card-title">
                        <h2>Expenditure Timeseries</h2>
                    </div>
                    <div class="card-block">
                        {{ pie_plot | safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    <div class="canvas-wrapper">
        <canvas class="chart" id="line-chart" height="auto" width="auto"></canvas>
    </div>
</div>
